<!DOCTYPE html>
<html lang="en">
<head>
  <title>Library Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>		<script src="https://code.jquery.com/jquery.js"></script>   
	
        <link rel="stylesheet" href="/stylesheets/style.css"></script>
        <script type="text/javascript" src="/js/member.js"></script>
        	<script type="text/javascript" src="/js/book.js"></script>
</head>
<body style="background-color:tan;">
    {{!-- <button id="checkBook">AddBook</a>
    <button id="Book">Book</a> --}}
<div class="container-fluid" style="background-color:rgb(12, 37, 83)">
    <div class="row"  style="background-color:rgb(12, 37, 83);width:100%">
        <div class="col-lg-12">
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="nav navbar-nav">
      <li class="active">
<button type="button" id="Book"style="margin-top:10px;margin-left:10px">Books <i class="fa fa-book"></i></button>
    </li>
      <li><button id="member" style="margin-top:10px;margin-left:5px">Members <i class="fa fa-user-plus"></i></button></li>
    </ul>
    <div class="navbar-header" style="float: right;">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
</nav>
        </div>
    </div>
</div>
    <div class="container">  
        <div class="row" style="margin-top: 60px;background-color: white;width:85%" >
        <div class="col-lg-12"  style="background-color: white;width:85%;margin-left:8%">             
{{{body}}}  
        </div>
    </div>
</div> 
</body>   