/* form.signup,
form.login {
  margin-top: 50px;
} */
.containerMargin {
  margin: 2%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  /* border-image: url(./Assets/pictures/bookshelf.jpg); */
  background-image: url(../bookshelf.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin-bottom: 0%; */
  background-image: url("/book.jpg");

  

}
.container {
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: darkgray;
  background-color: black;
  opacity: 75%;
  margin: 15%;
  align-items: center;
  align-content: center;
  color: white;
}

 h1,h2 { 
   color:white;
   /* opacity: 100%; */
 }